<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="customer" class="com.ibm.spring.core.beans.Customer">
        <!--        Default values set via setters-->
        <!--        <property name="id" value="1"/>-->
        <!--        <property name="name" value="Ram"/>-->

        <!--        Default values set via constructors-->
        <constructor-arg name="id" value="0"/>
        <constructor-arg name="name" value="Foo"/>

    </bean>
</beans>